<div class="row">
  <!-- counter-card-1 start-->
  <div class="col-md-12 col-xl-4">
    <app-card [cardClass]="'counter-card-1'" [blockClass]="'card-body-big'">
      <div class="row">
        <div class="col-6 counter-card-icon">
          <i class="icofont icofont-chart-histogram"></i>
        </div>
        <div class="col-6  text-right">
          <div class="counter-card-text">
            <h3>23%</h3>
            <p>ACTIVE USER</p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- counter-card-1 end-->

  <!-- counter-card-2 start -->
  <div class="col-md-6 col-xl-4">
    <app-card [cardClass]="'counter-card-2'" [blockClass]="'card-body-big'">
      <div class="row">
        <div class="col-6 counter-card-icon">
          <i class="icofont icofont-chart-line-alt"></i>
        </div>
        <div class="col-6 text-right">
          <div class="counter-card-text">
            <h3>15%</h3>
            <p>DOWN RATE</p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- counter-card-2 end -->

  <!-- counter-card-3 start -->
  <div class="col-md-6 col-xl-4">
    <app-card [cardClass]="'counter-card-3'" [blockClass]="'card-body-big'">
      <div class="row">
        <div class="col-6 counter-card-icon">
          <i class="icofont icofont-chart-line"></i>
        </div>
        <div class="col-6 text-right">
          <div class="counter-card-text">
            <h3>35%</h3>
            <p>SALE RATIO</p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- counter-card-3 end -->


 

 
  <!-- Start-->
  
  <div class="col-md-12 col-xl-4">
    
    <!-- Overdue Task Start-->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body-big card-status">
            <h5>Income Status</h5>
            <div class="card-body text-center">
              <h2 class="text-primary">$4,612</h2>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="f-16 text-muted m-0">Totale Income : $4,679</p>
              </div>
              <div class="col-6">
                <div class="text-muted f-16 text-right">
                  <span>20.56%</span>
                  <i class="icofont icofont-caret-up text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <!-- End-->

 
</div>
