<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Freelancer - Start Bootstrap Theme</title>

  <!-- Custom fonts for this theme -->
  <link href="./assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="./assets/css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Fidelity</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
         
         
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

    
    </div>
  </header>

  

  

  <!-- Login Section -->
  <section class="login-form d-flex  bg-primary ">
    <!-- starts -->
    <div class="auth-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- Authentication card start -->
          <div class="login-card card-body auth-body">
            <form class="md-float-material">
             
              <div class="auth-box">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-center txt-primary">Sign up.</h3>
                  </div>
                </div>
                <hr/>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Choose Firstname">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Choose Lastname">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Your Email Address">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                  <input type="password" class="form-control" placeholder="Choose Password">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                  <input type="password" class="form-control" placeholder="Confirm Password">
                  <span class="md-line"></span>
                </div>
                <div class="row m-t-25 text-left">
                  <div class="col-md-12">
                    <div class="checkbox-fade fade-in-primary">
                      <label>
                        <input type="checkbox" value="">
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                        <span class="text-inverse">I read and accept <a href="javascript:;">Terms &amp; Conditions.</a></span>
                      </label>
                    </div>
                  </div>
              
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign up now.</button>
                  </div>
                </div>
                <hr/>
                <div class="row">
                 
                 
                </div>
              </div>
            </form>
            <!-- end of form -->
          </div>
          <!-- Authentication card end -->
        </div>
        <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of -->
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="./assets/vendor/jquery/jquery.min.js"></script>
  <script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="./assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="./assets/js/jqBootstrapValidation.js"></script>
  <script src="./assets/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="./assets/js/freelancer.min.js"></script>

</body>

</html>
